@import "../../../styles/mixin.scss";

.insta {
  padding-block: 10rem 15rem;

  &__text {
    width: 70%;
    text-align: center;
    margin-inline: auto;
    h2 {
      margin-block: 1rem 2rem;
    }

    img {
      width: fit-content;
      margin-inline: auto;
    }

    @include respond(tab-port) {
      width: 90%;
    }

    @include respond(phone) {
      width: 98%;
    }
  }

  &__container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }

    img {
      width: 100%;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        transform: scale(105%);
      }
    }
  }

  &__left {
    overflow: hidden;
  }

  &__right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .btn {
    margin-top: 5rem;
    width: fit-content;
    margin-inline: auto;
  }
}
